{% extends 'electron/base.html' %}
{% block content %}


<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Electron</p>
            <div class="list-group">
                {% for category in categories%}
                <a href="{% url 'products_category' category=category.type %}" class="list-group-item">{{category.type}} </a>
                {% endfor %}
                <!--<a href="#" class="list-group-item">Category 1</a>-->
                <!--<a href="#" class="list-group-item">Category 2</a>-->
                <!--<a href="#" class="list-group-item">Category 3</a>-->
            </div>
        </div>

        <div class="col-md-9">

            <!--<div class="row carousel-holder">-->
            <!--&lt;!&ndash;moving banner&ndash;&gt;-->
            <!--<div class="col-md-12">-->
            <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
            <!--<ol class="carousel-indicators">-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
            <!--</ol>-->
            <!--<div class="carousel-inner">-->
            <!--<div class="item active">-->
            <!--<img class="slide-image" src="http://placehold.it/800x300" alt="">-->
            <!--</div>-->
            <!--{% for product in products|slice:":3" %}-->
            <!--<div class="item">-->
            <!--<img class="slide-image" src="{{product.image}}" alt="" style="width:800px;height:300px;">-->
            <!--</div>-->
            <!--{% endfor %}-->
            <!--&lt;!&ndash;<div class="item active">&ndash;&gt;-->
            <!--&lt;!&ndash;<img class="slide-image" src="http://placehold.it/800x300" alt="">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
            <!--&lt;!&ndash;<img class="slide-image" src="http://placehold.it/800x300" alt="">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
            <!--&lt;!&ndash;<img class="slide-image" src="http://placehold.it/800x300" alt="">&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">-->
            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
            <!--</a>-->
            <!--<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">-->
            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->

            <div class="row">



                <!--<div class="col-sm-4 col-lg-4 col-md-4">-->
                <!--<div class="thumbnail">-->
                <!--<img src="http://placehold.it/320x150" alt="">-->
                <!--<div class="caption">-->
                <!--<h4 class="pull-right">$64.99</h4>-->
                <!--<h4><a href="#">Second Product</a>-->
                <!--</h4>-->
                <!--<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                <!--</div>-->
                <!--<div class="ratings">-->
                <!--<p class="pull-right">12 reviews</p>-->
                <!--<p>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-sm-4 col-lg-4 col-md-4">-->
                <!--<div class="thumbnail">-->
                <!--<img src="http://placehold.it/320x150" alt="">-->
                <!--<div class="caption">-->
                <!--<h4 class="pull-right">$74.99</h4>-->
                <!--<h4><a href="#">Third Product</a>-->
                <!--</h4>-->
                <!--<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                <!--</div>-->
                <!--<div class="ratings">-->
                <!--<p class="pull-right">31 reviews</p>-->
                <!--<p>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-sm-4 col-lg-4 col-md-4">-->
                <!--<div class="thumbnail">-->
                <!--<img src="http://placehold.it/320x150" alt="">-->
                <!--<div class="caption">-->
                <!--<h4 class="pull-right">$84.99</h4>-->
                <!--<h4><a href="#">Fourth Product</a>-->
                <!--</h4>-->
                <!--<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                <!--</div>-->
                <!--<div class="ratings">-->
                <!--<p class="pull-right">6 reviews</p>-->
                <!--<p>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-sm-4 col-lg-4 col-md-4">-->
                <!--<div class="thumbnail">-->
                <!--<img src="http://placehold.it/320x150" alt="">-->
                <!--<div class="caption">-->
                <!--<h4 class="pull-right">$94.99</h4>-->
                <!--<h4><a href="#">Fifth Product</a>-->
                <!--</h4>-->
                <!--<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
                <!--</div>-->
                <!--<div class="ratings">-->
                <!--<p class="pull-right">18 reviews</p>-->
                <!--<p>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star"></span>-->
                <!--<span class="glyphicon glyphicon-star-empty"></span>-->
                <!--</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-sm-4 col-lg-4 col-md-4">-->
                <!--<h4><a href="#">Like this template?</a>-->
                <!--</h4>-->
                <!--<p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>-->
                <!--<a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>-->
                <!--</div>-->
                {% for product in products %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="{{product.image}}" style="width:320px;height:150px;" alt="">
                        <div class="caption">
                            <h4 class="pull-right">£{{product.price}}</h4>
                            <h4><a href="{% url 'individual_product' id=product.pk %}">{{product.name | truncatechars:15}}</a>
                            </h4>
                            <p> {{product.description |truncatechars:80 }}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">31 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                        <p class = "text-center">
                            <button class="btn btn-primary " onclick="addToBasket('{{product.id}}')">Add to Basket</button>
                        </p>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

{% endblock %}