{% extends 'electron/base.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="container">
            <header class="jumbotron hero-spacer">
                <h1>Your Basket - {{user.first_name}}</h1>
            </header>
            <br><br>
            <table class="table">
                <thead>
                <tr>
                    <th> Product</th>
                    <th> Price</th>
                    <th> Quantity</th>
                </tr>

                </thead>
                <tbody>
                {% for queries in allBasketItems %}
                <tr>
                    <td>{{queries.products.name}}</td>
                    <td>£{{queries.products.price}}</td>
                    <td>{{queries.quantity}}</td>
                    <td><a href="{% url 'delete-item' id=queries.products.id%}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td><b>Total ({{ allBasketItems.count }} items):</b></td>
                    <td><b>£{{ totalPrice }}</b></td>
                    <td></td>
                    <td><a href="{% url 'empty-basket' %}">Empty Basket</a></td>
                </tr>
                </tbody>
            </table>
            <button  type="button" class="btn btn-info btn-block"></button>
            <a href = "{% url 'checkout' %}">Proceed to Checkout</a>
        </div>



    </div>
</div>
{% endblock %}